<header style="background-color: rgb(107,66,38); padding: 20px 40px; box-shadow: 0 4px 10px rgba(0,0,0,0.3); display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin: 0; font-size: 24px; color: rgb(255,248,240);">GEEKS 58-1</h1>
    <nav>
       <a href="{% url 'cine_film_list' %}" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">Главная</a>
       <a href="{% url 'cine_login' %}" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">Авторизация</a>
       <a href="{% url 'cine_register' %}" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">Регистрация</a>
       {% if user.is_authenticated %}
       <a href="{% url 'cine_logout' %}" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">Выход</a>
       <a href="{% url 'film_create' %}" style="color:#f5f5f5; margin-right:20px; font-weight:bold;">Создать фильм</a>
       {% endif %}
   </nav>
</header>