{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ film.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'CineBoard/filmheader.html' %}

    <h1>{{ film.name }}</h1>
    {% if film.image %}
        <img src="{{ film.image.url }}" alt="{{ film.name }}" width="450" height="400">
    {% endif %}

    <p><b>Описание:</b> {{ film.description }}</p>
    <p><b>Жанр:</b> {{ film.genre }}</p>
    <p><b>Дата выхода:</b> {{ film.release_date }}</p>

    <hr>

    <h2>Комментарии:</h2>
    <ul>
    {% for comment in comments %}
        <li>
            <b>{{ comment.user.username }}</b> ({{ comment.created_at|date:"d.m.Y H:i" }}):
            <p>{{ comment.text }}</p>
        </li>
    {% empty %}
        <li>Комментариев пока нет.</li>
    {% endfor %}
    </ul>

</body>
</html>