<header style="background-color: rgb(107,66,38); padding: 20px 40px; box-shadow: 0 4px 10px rgba(0,0,0,0.3); display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin: 0; font-size: 24px; color: rgb(255,248,240);">GEEKS 58-1</h1>
    <nav>
        <a href="{% url 'book_list' %}" style="color: rgb(255,248,240); margin-right: 20px; font-weight: bold;">Главная</a>
        <a href="#" style="color: rgb(255,248,240); margin-right: 20px; font-weight: bold;">Хэштеги</a>
        <a href="{% url 'order_list' %}" style="color: rgb(255,248,240); margin-right: 20px; font-weight: bold;">Корзина</a>
        <a href="#" style="color: rgb(255,248,240); margin-right: 20px; font-weight: bold;">Авторизация</a>
        <a href="#" style="color: rgb(255,248,240); margin-right: 20px; font-weight: bold;">Регистрация</a>
    </nav>
</header>